@tailwind base;

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter-var-latin.woff2');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
  body {
    @apply dark:bg-bodyDark dark:text-gray-200;
  }
}

* {
  @apply text-gray-700 dark:text-gray-200 outline-none  focus-visible:ring-2 ring-blue-400;
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

@tailwind components;
@tailwind utilities;
